# API Configuration
VITE_API_BASE_URL=your_api_base_url_here
VITE_API_BASIC_AUTH_USERNAME=your_basic_auth_username
VITE_API_BASIC_AUTH_PASSWORD=your_basic_auth_password

# Buyer App URL
VITE_BUYER_APP_URL=your_buyer_app_url_here
